<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.pcnutrenggalek.or.pctrenggalek">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCTrenggalek">
        <activity
            android:name=".ActivityIpnuippnu"
            android:exported="true" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".Entitas2Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ShowActivity" />
        <activity android:name=".DatailActivity" />
        <activity android:name=".LostconnectionActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Entitas9Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas8Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas7Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas6Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas5Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas4Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas3Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Entitas1Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".AnakCabangActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SigupActivity" />
        <activity
            android:name=".SplashscreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>